*{padding: 0;margin: 0;font-size: 14px;}
body{font-family: "微软雅黑";background: rgb(249,249,249);}
li{list-style-type: none;}
a{text-decoration: none;}
a img{
	border: 0 !important;]
}

/*head*/
.head{
	width:100%;
	background-color:#f9f9f9;
}
#head{
	background: white;
	border-bottom: 1px solid rgb(181,181,181);
}
.headLink ul li a:hover{
	text-decoration:underline;
}
.marginCenter{
	width: 1200px;
	margin: 0 auto;
}
.headLink{
	height:40px;

}
.headLink .linkLeft{
	float:left;
}
.headLink ul li a{
	font-size:14px;
	color:#505050;
	line-height:40px;
	padding:0;
}
.headLink .linkRight{
	float:right;
}
.headLink .linkLeft li a span{
	text-decoration:underline;
	color:#ff2c7b;
}
.headLink ul li a span{
	color:#ff2c7b;
}
.headLink .linkLeft li a:after{
	content:"|";
	color:#000;
	width:22px;
	display:inline-block;
	text-align:center;
}
.headLink .linkRight li a:after{
	content:"|";
	color:#000;
	width:22px;
	display:inline-block;
	text-align:center;
}
.headLink ul li a:last-child:after{
	display:none;
}
.headMai{
	background:url(../img/index_03_03.png) no-repeat;
	width:1200px;
	height:120px;
}
.headMaintop .buyDai p a{
	color: #666;
}
.headMai .headMaintop{
	width:654px;
	height:68px;
	padding:22px 10px 26px 536px;
}
.headMai .headMaintop .searchBox{
	width:368px;
	height:40px;
	border:1px solid #eee;
	font-size:16px;
	color:#9d9d9d;
	padding-left:22px;
	float:left;
}
.headMai .headMaintop .searchButt{
	background:url(../img/index_03.png) no-repeat 20px 10px;
	width:62px;
	height:44px;
	background-color:#ff2c7b;
	float:left;
	border:none;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}
.headMai .headMaintop  .remen{
	clear:both;
	padding-top:12px;
	padding-bottom:28px;
}
.headMai .headMaintop  .remen a{
	font-size:14px;
	color:#ccc;
	margin-right:20px;
}
.headMai .headMaintop  div a:hover{
	color:#666;
}
.headMaintop .buyDai{
	position: relative;
	overflow: hidden;
	width:124px;
	height:40px;
	border:1px solid #e5e5e5;
	float:right;
	background: rgb(242,242,242);
}
.buyDai a{
	display: block;
	width: 124px !important;
	height: 40px;
	background:url(../img/index_06.png) no-repeat 11px 12px;
	width: 50%;
	padding-left: 30px;
	line-height: 40px;
	color: black;
}
.buyDai  span{
	color:#ff515a;
}
.buyDai img{
	position: absolute;
	top: 0;
	right: 0;
	z-index: 66;
}
.headFoot{
	height:46px;
}
.headFoot .xiala{
	position: relative;
	background-color:#ff2c7b;
	width:240px;
	height: 45px;
	display:inline-block;
	text-align: center;
	line-height: 45px;
	float:left;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
.headFoot .xiala a{
	font-size:18px;
	color:#fff;
}
.headFoot .headFootright{
	float:left;
}
.headFoot .headFootright ul li{
	float:left;
} 
.headFoot .headFootright ul li a{
	margin-top: 10px;
	display: inline-block;
	width: 140px;
	height: 30px;
	border-radius: 20px;
	font-size:16px;
	color:#505050;
	line-height:30px;
	text-align: center;
}
.headFoot .headFootright ul li a:hover{
	color:white;
	background: #ff2c7b;
}
#xiala{
	z-index: 66;
	position: absolute;
	width: 240px;
	height: 440px;
	background: rgba(159,15,81,0.9);
}
.clear{
	clear: both;
}
#xiala li{
	margin-top: 15px;
	width: 240px;
	height: auto;
}
#xiala img{
	float: left;
	margin: 7px;
}
#xiala .xialeft{
	float: left;
	width: 195px;
	height: auto;
}
.xialeft div{
	margin-top: 5px;
	float: left;
	width: auto;
	height: 15px;
	margin-right: 8px;
}
#xiala a{
	width: auto;
	height: 15px;
	font-size:14px !important;
	color: white;
	line-height: 14px;
}
#xiala h5{
	height: 25px;
	text-align: left;
	font-size: 16px;
}
/*foot*/
.foot{
	background: url(../img/usercenter_03_03.png) repeat-x;
	height:auto;
	background-position:bottom;
	clear:both;
	margin-top:48px;
}
.footMain{
	width:1200px;
	margin:0 auto;
}
.footTop{
	width:990px;
	height:46px;
	padding:20px 105px 20px 105px;
	background-color:#f5f5f5;
}
.footMod{
	width:1160px;
	height:180px;
	padding:25px 40px 0 0 ;
}
.footFoo{
	height:auto;
	text-align:center;
	margin-top:90px;

}
.footFoo ul li{
	float:left;
}
.footFoo ul li a{
	color:#bd325c;
}
.footFoo ul li a:before{
	content:"|";
	color:#bd325c;
	width:20px;
	display:inline-block;
	text-align:center;
}
.footFoo ul li a.noline:before{
	content:normal;
}
.footFoo img{
	margin-top:10px;
	margin-bottom:10px;
}
.footFoo ul{
	margin:0 auto 0 auto;
	display:inline-block;
	height:14px;
	padding:18px 0 18px 0;
}
.footFoo p a{
	color:#656364;
}
.netCopy{
	padding-bottom:8px;
}
.footFoo a,p{
	color:#999;
}
.footTop div{
	width:auto;
	margin-right:40px;
	padding-left:60px;
	height:50px
	display:inline-block;
	float:left;
	background-size:43px;
}
.jia{
	background:url(../img/foot_03.png) no-repeat;
	background-size:43px;
	/*background-position: top left;*/
}
.tuikuan{
	background:url(../img/foot_05.png) no-repeat;
}
.yanchi{
	background:url(../img/foot_07.png) no-repeat;
}
#caizhi{
	background:url(../img/foot_11.png) no-repeat;
	background-size:43px;
}
#shouhou{
	background:url(../img/foot_09.png) no-repeat;
	background-size:43px;
	float:right;
	margin-right:0;
	margin-left:px;
}
.jia,.tuikuan,.yanchim,.shouhou{
	width:42px;
	height:42px;
}
.footTop span{
	font-size:18px;
	font-weight: bold;
	color:#333;
	line-height:26px;
}
.footMod .box{
	width:auto;
	height:auto;
	margin-right:80px;
	float:left;
}
#winXin{
	margin-right:0;
	float:right;
}
.box li a{
	color:#666;
	line-height:28px;
}
.box ul .bigFo{
	font-size:16px;
	color:#333;
	padding-bottom:15px;
}
.erweima{
	background:url(../img/usercenter_63.png) no-repeat;
	background-position:0 5px;
	width:100px;
	height:100px;
}
.footFoo div a{
	float:right;
	margin-left:4px;
}
.footMod #rexian ul li .redTel{
	font-size:20px;
	color:#ff7b9b;
}
.footMain .youqing{
	text-align:center;
	
}
.footMain .youqing .youXian{
	width:550px;
	height:1px;
	background-color:#aeaeae;
	margin-top:8px;
}
.footMain .youqing .xianLeft{
	float:left;
}
.footMain .youqing .xianRight{
	float:right !important;
}
.footMain .youqing h5{
	font-size:20px;
	line-height:20px;
	color:#000;
	display:inline-block;
}
.footMain .youqing .youLian{
	clear: both;
	padding-top:8px;
	padding-bottom:14px;
}
.footMain .youqing .linka{
	width:100%;
	height:auto;
}
.footMain .youqing .linka li{
	float:left;
}
.footMain .youqing .linka li a{
	color: rgb(152,152,152);
}
.footMain .youqing .linka li a:after{
	content:"|";
	display:inline-block;
	width:18px;
	color:#808080;
	line-height:22px;
}

.diFoot{
	width:100%;
	height:auto;
	clear:both;
	background:url(../img/footBg.png) no-repeat 0 440px;
}
.box li a:hover{
	text-decoration:underline;
}
.footMain .youqing .linka li a:hover{
	text-decoration:underline;
}
.footFoo p a:hover{
	text-decoration:underline;
}